
table {
    border-collapse: collapse;
}

th,
td {
    font-size: small;
    padding: 10px;
    border: 1px solid #ccc;
}
.forum {
    background: #2c9797;
    padding: 1rem;
  }
#navbar {
    background: #000;
}

#discussionBody {
    padding: 1vw;
    box-shadow: 0 5px 10px #000;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    background: #2b3107;

}

#forumHeader {
    display: flex;
    justify-content: space-around;
}

#allPostStats {
    display: flex;
    justify-content: space-between;
}
 
.posttitle {
    color: #04ec2b;
}

.postCategory {
    color: #f007f8;
}

.AuthorInfo {
    display: flex; 
    width: 20vw;
    justify-content: space-evenly;
    /* margin: 5px; */
    /* align-items: center; */
    /* font-size: 14px; */
    color: #400ff1;
}

.AuthorInfo img {
    border-radius: 50%;
}

.post-date {
    display: inline-block;
    background-color: #58d44d;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #b330a8;
}