a{
    text-decoration: none;
}

h1 {
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
} 

.flex{
    display: flex; 
    align-items: center;
}
.flex_btwn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex_arnd{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.active{
    background:rgba(0, 0, 0, 0.9);
}

.basic_mrgn { 
    margin: 1.5rem;
}

.mlr {
    margin: 0 1.5rem;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  .btn:active {
    background-color: #3e8e41;
  }
.round{
  border-radius: 50%;
}  
#show {
    display: none;
    font-size: xx-large;
}

.principal_msg{
    display: flex;
    justify-content: space-around;
    /* margin: 1.5rem; */
}
.tp_msg{
    display: flex;
    justify-content: space-around;
    /* margin: 1.5rem; */
}

.reach_us{
    display: flex;
    /* margin: 1.5rem ; */
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:760px) {
    .hero {
        background-size: 100% 100%;
    }
    #show {
        display: inline-block;
        font-size: xx-large;
        cursor: pointer;
    }

    #ul {
        display: none;
        background: #000; 
    }

    #ul li {
        display: block;
        width: 100%;
        text-align: center;
        padding: 1rem;
    } 

    .dropdown_menu{
        margin-left: 1rem;
    }

    #navbar { 
        display: none;
        padding: 0;
    }
 
    #navbar ul li::after {
        background: none;
    } 
    .quick_lnk{ 
        grid-template-columns: 1fr;

    }
} 